
<ul>
    <% @properties.each do |property| %>
      <div class="">
        <div class="card-product">
          <%= image_tag('https://i.imgur.com/6jSAAiD.jpg')  %>
          <div class="card-product-infos">
            <h2><%= property.title %></h2>
            <p class=""><%= property.location %></p>

            <div class="card-icon">
              <div>
                <span style="margin-right:18px"><i class="fas fa-bed" style="margin-right:7px"></i><%= property.bedroom %></span>
                <span style="margin-right:18px"><i class="fas fa-bath" style="margin-right:7px"></i><%= property.bathroom %></span>
                <span style="margin-right:18px"><i class="fas fa-th-large" style="margin-right:7px"></i><%= property.rating %></span>
              </div>
               <div class="">
                <h3 class=""><strong>$<%= property.price %></strong>/month</h3>
               </div>
            </div>

          </div>
        </div>
      </div>
    <%end%>
</ul>
