
<ul>

    <% @properties.each do |property| %>
      <div class="ml-20 m-12 shadow-xl rounded-lg w-10 overflow-scroll">
       <div class="flex mr-10 ">
          <%= image_tag('https://i.imgur.com/6jSAAiD.jpg', size: "250x100", class:"m-3 object-cover rounded-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg")  %>
         <div class="flex flex-col items-start">
            <div class="p-4">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><%= property.title %></h5>
                <p class="mb-3 font-normal text-gray-600 dark:text-gray-400"><%= property.location %></p>
            </div>
            <div class="p-4">
              <h5 class="mb-2 text-lg font-semibold tracking-tight text-gray-500 dark:text-white"><strong>$<%= property.price %></strong>/month</h5>
            </div>
            <div class="">
              <span class="mx-4 text-gray-400"><i class="fas fa-bed"></i></span><%= property.bedroom %>
              <span class="mx-4 text-gray-400"><i class="fas fa-bath"></i></span><%= property.bathroom %>
              <span class="mx-4 text-gray-400"><i class="fas fa-th-large"></i></span><%= property.rating %>
            </div>
         </div>
        </div>
      </div>
    <%end%>

</ul>
