
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://i.imgur.com/zVZwT8e.png);">
    <div class="container">
    <div class="banner-title">
      <h6 class="boton-subtittle">REAL STATES</h6>
      <h1 class="tittle ">Lets hunt for your <br> dream residence</h1>
      <p class="subtitle">Explore our range of beautiful properties with the addition of <br> separate accommidation suitable for you.</p>

      <div style="display: flex">
         <ul class="list-inline tabs-underlined">
            <li>
              <a href="#" class="tab-underlined active">Buy</a>
            </li>
            <li>
              <a href="#" class="tab-underlined">Rent</a>
            </li>
          </ul>
    </div>

        <%# <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Buy</button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Location</a></li>
              <li><a class="dropdown-item" href="#">Type</a></li>
              <li><a class="dropdown-item" href="#">Price Range</a></li>
            </ul>
        </div> %>

      </div>
    </div>
</div>


  <div class="container">
    <div class="best-recomendation" style="display:flex; justify-content: space-between;align-items: flex-end;">
      <div>
        <h6 class="boton-subtittle">DISCOVER</h6>
        <h4 class="title-general">Best recomendation </h4>
        <p class="subtitle-general">Discover our exlusive selection of the finest one of a kind <br> of luxury properties architectural masterpieces.</p>
      </div>
      <div class="boton-learn" style="display: flex; align-items: center;">
        <%= link_to "Learn more", "#", class: "btn btn-ghost" %>
        <div class="live"></div>
       </div>
    </div>

    <div class="" style="display:flex; margin-top: 20px;">
      <div class="card1-home">
        <%= image_tag('https://i.imgur.com/6jSAAiD.jpg',id:"img")  %>

        <div class="card-content">
          <h3 class="card-title">Perum griya asri</h3>
          <h5 class="card-subtitle">Bogor, Jawa Barat</h5>
          <div class="" style="display:flex; justify-content:space-between; align-items: flex-end">
            <h5 class="price">$45,00</h5>
            <h6 class="length"><strong>360m</strong> Living Area</h6>
          </div>
          <div class="" style="display:flex; justify-content:center;margin-top:15px">
            <a class="ghost" href="#">Send Inquiry</a>
          </div>
        </div>
      </div>

      <div class="card1-home">
        <%= image_tag('https://i.imgur.com/8h4qgTR.jpg', id:"img")  %>

        <div class="card-content">
          <h1 class="card-title">Perum griya asri</h1>
          <h5 class="card-subtitle">Bogor, Jawa Barat</h5>
          <div style="display:flex; justify-content:space-between; align-items: flex-end">
            <h5 class="price">$45,00</h5>
            <h6 class="length"><strong>360m</strong> Living Area</h6>
          </div>
          <div class="" style="display:flex; justify-content:center;margin-top:15px">
            <a class="ghost" href="#">Send Inquiry</a>
          </div>
        </div>
      </div>

      <div class="card1-home">
        <%= image_tag('https://i.imgur.com/7TK7crM.jpg', id:"img")  %>
        <div class="card-content">
          <h1 class="card-title">Perum griya asri</h1>
          <h5 class="card-subtitle">Bogor, Jawa Barat</h5>
          <div style="display:flex; justify-content:space-between; align-items: flex-end">
            <h5 class="price">$45,00</h5>
            <h6 class="length"><strong>360m</strong> Living Area</h6>
          </div>
          <div class="" style="display:flex; justify-content:center;margin-top:15px">
            <a class="ghost" href="#">Send Inquiry</a>
          </div>
        </div>
      </div>

    </div>

    </div>

  </div>


    <div class="our-advante container">
     <div style="margin:20px">
        <div class="container" style="margin:40px">
          <h6 class="boton-subtittle">OUR ADVANTE</h6>
          <h1 class="title-general">Giving you peace <br> of mind </h1>
        </div>

       <div class="icons" style="display:grid; margin:40px; grid-template-columns: 1fr 1fr 1fr">
          <div class="pl-10 m-auto">
            <div class="ml-15 mr-15">
              <span class="icon"><i class="fas fa-heart"></i></span>
            </div>
              <h4 class="">Confortable</h4>
              <p class="">Lorem ipsum dolor sit amet consectetur <br>adipisicing elit.  Magnam recusandae<br> rerum iure quis.</p>
          </div>
          <div class="pl-10 m-auto">
            <div class="ml-15 mr-15">
              <span class="icon"><i class="fas fa-shield-alt"></i></span>
            </div>
            <h4 class="">Extra Security</h4>
            <p class="">Lorem ipsum dolor sit amet consectetur <br>adipisicing elit.  Magnam recusandae<br> rerum iure quis.</p>
          </div>
          <div class="pl-10 m-auto">
            <div class="ml-15 mr-15">
              <span class="icon"><i class="fas fa-star"></i></i></span>
            </div>
            <h4 class=" ">Luxury</h4>
            <p class="">Lorem ipsum dolor sit amet consectetur <br>adipisicing elit.  Magnam recusandae<br> rerum iure quis.</p>
          </div>
          <div class="pl-10 m-auto">
            <div class="ml-15 mr-15">
              <span class="icon"><i class="fas fa-hand-holding-usd"></i></span>
            </div>
            <h4 class="">Best price</h4>
            <p >Lorem ipsum dolor sit amet consectetur <br>adipisicing elit.  Magnam recusandae<br> rerum iure quis.</p>
          </div>
          <div class="pl-10 m-auto">
            <div class="ml-15 mr-15">
              <span class="icon"><i class="fas fa-map-marker-alt"></i></span>
            </div>
            <h4 class="">Strategic Location</h4>
            <p >Lorem ipsum dolor sit amet consectetur <br>adipisicing elit.  Magnam recusandae<br> rerum iure quis.</p>
          </div>
          <div class="pl-10 m-auto">
            <div class="ml-15 mr-15">
              <span class="icon"><i class="fas fa-bolt"></i></i></span>
            </div>
            <h4 class="">Efficient</h4>
            <p >Lorem ipsum dolor sit amet consectetur <br>adipisicing elit.  Magnam recusandae<br> rerum iure quis.</p>
          </div>
       </div>
      </div>
    </div>

    <div class="container" style="display:flex;">

        <%= image_tag('https://i.imgur.com/spA4H2t.png', size: "600x450") %>

      <div class=" m-auto " style="padding-left: 35px;">
        <h6 class="boton-subtittle">ABOUT US</h6>
        <h1 class="title-general">How much is your <br> property worth now?</h1>
        <p class="subtitle-general">We have built our reputation as true local area experts. We have gained more knowledge about buyer interests,
         our neighborhood and the market than anu other brand because we live locally and work for local people.</p>
          <div class="boton-learn" style="display: flex; align-items: center; width:180px">
            <%= link_to "Learn more", "#", class: "btn btn-ghost" %>
            <div class="live"></div>
          </div>
      </div>
    </div>

    <div class="container" style="margin-top:50px">
      <h6 class="boton-subtittle">CUSTOMERS TESTIMONIAL</h6>
      <h1 class="title-general">People say about us?</h1>
        <div class="" style="display:flex">
          <div class="card-comment">
            <%= image_tag('https://img2.freepng.es/20180523/irc/kisspng-e-commerce-brightwheel-service-business-informatio-quotation-marks-5b05018d6407e2.8913143815270547334097.jpg', size: "60x50", class:"comillas") %>
            <h3 class="m-3">It proved to be exactly the kind of home we wanted.</h3>
            <p class="m-3" style="font-weight: 100;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni ducimus architecto amet aut aperiam accusantium! Dolore minus consequuntur sed dignissimos, enim laboriosam suscipit!</p>
              <div style="display:flex; ">
                <%= image_tag('https://i.imgur.com/DacMBRq.jpg?1', size: "60x60", class:"comillas") %>
                <div class="m-2 pl-2" style="display: flex; flex-direction: column;justify-content: flex-end;">
                  <h5 class="">Jadmon Ferrid</h5>
                  <p style="font-weight: 100;">Building Architect</p>
                </div>
              </div>
          </div>
          <div class="card-comment">
            <%= image_tag('https://img2.freepng.es/20180523/irc/kisspng-e-commerce-brightwheel-service-business-informatio-quotation-marks-5b05018d6407e2.8913143815270547334097.jpg', size: "60x50", class:"comillas") %>
            <h3 class="m-3">It proved to be exactly the kind of home we wanted.</h3>
            <p class="m-3" style="font-weight: 100;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni ducimus architecto amet aut aperiam accusantium! Dolore minus consequuntur sed dignissimos, enim laboriosam suscipit!</p>
            <div style="display:flex;">
              <%= image_tag('https://i.imgur.com/3qI0l6g.jpg', size: "60x60", class:"comillas") %>
                <div class="m-2 pl-2" style="display: flex; flex-direction: column;justify-content: flex-end;">
                <h5 class="">Jadmon Ferrid</h5>
                <p style="font-weight: 100;">Building Architect</p>
              </div>

            </div>
          </div>

          <div class="card-comment">
            <%= image_tag('https://img2.freepng.es/20180523/irc/kisspng-e-commerce-brightwheel-service-business-informatio-quotation-marks-5b05018d6407e2.8913143815270547334097.jpg', size: "60x50", class:"comillas") %>
            <h3 class="m-3">It proved to be exactly the kind of home we wanted.</h3>
            <p class="m-3" style="font-weight: 100;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni ducimus architecto amet aut aperiam accusantium! Dolore minus consequuntur sed dignissimos, enim laboriosam suscipit!</p>
            <div style="display:flex;">
              <%= image_tag('https://i.imgur.com/9vbLP9d.jpg', size: "60x60", class:"comillas") %>
                <div class="m-2 pl-2" style="display: flex; flex-direction: column;justify-content: flex-end;">
                <h5 class="">Jadmon Ferrid</h5>
                <p style="font-weight: 100;">Building Architect</p>
              </div>

            </div>
          </div>





        </div>



    </div>
